<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456403347993-qbe6tcs0s715oggm84samlmaunjlhvt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456403347993-qbe6tcs0s715oggm84samlmaunjlhvt2</string>
	<key>API_KEY</key>
	<string>AIzaSyBH2tt45XZTgfGwuieR2IjJQEzwxc6IEgc</string>
	<key>GCM_SENDER_ID</key>
	<string>456403347993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-2e374</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-2e374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456403347993:ios:831d2a1208193ff3d6d888</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-2e374.firebaseio.com</string>
</dict>
</plist>